@using Loxy.Extensions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>@ViewData["Title"]</title>
    @(this.RenderStylesheet())
</head>
<body>
<main role="main">
    @RenderBody()
</main>
@(this.RenderJavascript())
</body>
</html>